<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342078865181-4f5u7agavn7bondthf7rv75s0ob7kg90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342078865181-4f5u7agavn7bondthf7rv75s0ob7kg90</string>
	<key>API_KEY</key>
	<string>AIzaSyDkp7Kj2PA3R6afTALL0iIi0zWBXRr49W8</string>
	<key>GCM_SENDER_ID</key>
	<string>342078865181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grsu.schedule</string>
	<key>PROJECT_ID</key>
	<string>grsu-schedule</string>
	<key>STORAGE_BUCKET</key>
	<string>grsu-schedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342078865181:ios:a83c0c081746f51e70ebf4</string>
</dict>
</plist>